<div class="login-card">
  <form>
    <md-card>
      <md-card-header>
        <md-card-title>Login</md-card-title>
        <md-card-subtitle>Please use your e-mail and password.</md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <p>
          <md-input-container>
            <input mdInput placeholder="E-mail" type="email">
          </md-input-container>
        </p>
        <p>
          <md-input-container>
            <input mdInput placeholder="Password" type="password">
          </md-input-container>
        </p>
      </md-card-content>
    </md-card>
    <p>
      <button md-raised-button color="primary">Enter</button>
    </p>
  </form>
</div>