<div class="login-card"> 
  <md-card> 
    <md-card-header> 
      <md-card-title>Login</md-card-title> 
      <md-card-subtitle>Please use your e-mail and password.</md-card-subtitle> 
    </md-card-header> 
    <md-card-content> 
      <form> 
        <md-input-container> 
          <input mdInput placeholder="E-mail" type="email"> 
        </md-input-container> 
        <p> 
          <md-input-container> 
            <input mdInput placeholder="Password" type="password"> 
          </md-input-container> 
      </form> 
    </md-card-content> 
  </md-card> 
  <br> 
  <button md-raised-button color="primary">Enter</button> 
</div>